*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#020617;
  color:white;
}

.hero{
  position:relative;
  height:100vh;
  overflow:hidden;
}

.hero-bg{
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    to bottom,
    rgba(0,0,0,.7),
    rgba(2,6,23,.95)
  );
}

.hero-content{
  position:absolute;
  inset:0;
  z-index:2;

  display:flex;
  flex-direction:column;
  justify-content:center;

  padding:30px;
}

.logo{
  width:110px;
  margin-bottom:25px;
}

.hero h1{
  font-size:48px;
  line-height:1;
  margin-bottom:20px;
  color:#facc15;
}

.hero p{
  font-size:16px;
  max-width:320px;
  color:#ddd;
}

.section-title{
  font-size:28px;
  font-weight:bold;
  color:#facc15;
  margin-bottom:20px;
}

.rooms,
.testimonial,
.maps{
  padding:25px;
}

.room-card{
  background:#0f172a;
  border-radius:24px;
  overflow:hidden;
  margin-bottom:25px;
  border:1px solid rgba(255,255,255,.1);
}

.room-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.room-content{
  padding:20px;
}

.room-title{
  font-size:24px;
  margin-bottom:10px;
}

.room-price{
  color:#facc15;
  font-size:28px;
  margin-bottom:15px;
}

.room-facility{
  color:#bbb;
  margin-bottom:20px;
}

.booking-box{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.booking-box input{
  height:52px;
  border:none;
  border-radius:14px;
  padding:0 15px;
  background:#1e293b;
  color:white;
}

.booking-btn{
  height:55px;
  border:none;
  border-radius:16px;
  background:#facc15;
  color:black;
  font-size:18px;
  font-weight:bold;
}

.testi-card{
  background:#0f172a;
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
}

.testi-name{
  color:#facc15;
  margin-bottom:10px;
  font-size:18px;
}

iframe{
  width:100%;
  height:300px;
  border:none;
  border-radius:20px;
}

footer{
  padding:40px 20px;
  text-align:center;
  color:#aaa
